/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Mijn css*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    box-sizing: border-box
}

section > img{
    visibility: hidden;
    margin-bottom: -20em;
}

main {
    display: flex;
    background-image: url("../img/BG1.jpeg");
    background-size: cover;
    background-position: center;
    height: 97vh;
}

section{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    margin: auto;
    margin-top: 1.5em;
}

h1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px 15px 0 0;
    font-size: 2em;
    padding: 0.7em 0.7em;
    color: #00d66c;
    font-weight: bold;
    max-width: 20em;
}

footer {
    font-size: 0.6em;
    background-color: #00d66c;
    color: #fff;
    width: auto;
    padding: 0.1em 3em;
}

/*navigatie*/

nav {
    padding: 0 0.5em 0.5em 0.5em;
}

nav > ul {
    display: flex;
    align-items: baseline;
}

li {
    display: inline;
    font-size: 0.8em;
}

li > img {
    width: 1.2em;
    position: relative;
    top: 0.15em;
    margin: 0.5em 0.5em 0em 0.5em;
}

li > a {
    text-decoration: none;
}

li:nth-of-type(1) {
    flex-grow: 6;
}

li:nth-of-type(2) a {
    color: #00d66c;
    margin-right: 0.5em;
}

li:nth-of-type(3) a {
    color: #e83a69;
    margin-right: 0.5em;
}

/*Inhoud form*/

legend {
    display: none;
}

label {
    color: #2b3088;
    display: block;
    margin-top: 0.7em;
}

fieldset{
    padding-left: 1em;
}

.aanmelden {
    background-color: #e83a69;
    font-size: 0.8em;
    text-decoration: none;
    display: table;
    margin: 1em 0;
    padding: 0.3em 0.8em;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}


/*Media Queries*/
@media only screen and (max-width: 20em) {
section{
    border-radius:0;
    margin-top: 0;
    max-width: 20em;
    margin: auto;
    height: 97vh;
    }

h1 {
    border-radius:0;
    max-width: 20em;
    padding: 0.5;
    margin: auto;
    }

}

@media only screen and (min-width: 40em) {
    /*Section > img geholpen door Maikel Sleebos*/
section > img{
    visibility: visible;
    width: 8em;
    position: relative;
    top: -30.5em;
    left: 105%;
    margin: 0 0 -10em 0;
    }
}

