/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Basis*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    box-sizing: border-box;
}

.kinderboek{
    background-image: url(../img/kinderboek_mob_1.png);
    background-size: 50%;
    padding: 100%;
    padding-bottom: 67%;
    background-repeat: no-repeat;
}

.verrassing{
background-image: url(../img/verrassing_mob_1.png);
    background-size: 50%;
    padding: 100%;
    padding-bottom: 785%;
    background-repeat: no-repeat;
}

.verwarde-man{
background-image: url(../img/verward_mob_1.png);
    background-size: 50%;
    padding: 100%;
    padding-bottom: 95%;
    background-repeat: no-repeat;
}

footer {
    font-size: 0.6em;
    background-color: #00d66c;
    color: #fff;
    width: auto;
    padding: 0.5em 3em;
}
/*navigatie*/

nav {
    padding: 0 0.5em 0.5em 0.5em;
}

nav > ul {
    display: flex;
    align-items: baseline;
}

li {
    display: inline;
    font-size: 0.8em;
}

li > img {
    width: 1.2em;
    position: relative;
    top: 0.15em;
    margin: 0.5em 0.5em 0em 0.5em;
}

li > a {
    text-decoration: none;
}

li:nth-of-type(1) {
    flex-grow: 6;
}

li:nth-of-type(2) a {
    color: #00d66c;
    margin-right: 0.5em;
}

li:nth-of-type(3) a {
    color: #e83a69;
    margin-right: 0.5em;
}

/*Media queries*/
@media only screen and (min-width: 30em) {
    .kinderboek{
    background-image: url(../img/kinderboek_tab_1.png);
    padding-bottom: 10%;
    }
    .verrassing{
    background-image: url(../img/verrassing_tab_1.png);
    padding-bottom: 235%;
    }
     .verwarde-man{
    background-image: url(../img/verward_tab_1.png);
    padding-bottom: 10%;
    }
}

@media only screen and (min-width: 45em) {
    .kinderboek{
    background-image: url(../img/kinderboek_web_1-2.png);
    padding-bottom: 1%;
    }
    .verrassing{
    background-image: url(../img/verrassing_web_1.png);
        padding-bottom: 103%;
    }
     .verwarde-man{
    background-image: url(../img/verward_web_1.png);
         padding-bottom: 1%;
    }
}
