/*main {
    position: relative;
    left:30%;
    width: 30%;
}

nav {
    position: relative;
    width: 30%;
}

aside {
    position: relative;
    left: 61%;
    width: 30%;
}
*/


main {
    display: inline-block;
    vertical-align: top;
    width:30%;
}

nav {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

